[user]
	email = matthew.bednarski@ekr.it
	name = Matthew Bednarski
[core]
	excludesfile = /home/ekr/.gitignore
  fileMode = false
[file]
	mode = false
[push]
  default = tracking
[color]
	ui = auto
[format]
	suffix = .txt
[alias]
	st = status
	ci = commit
	ca = commit -a
	br = branch
	co = checkout
	df = diff
  dl = diff --name-only --diff-filter=U
	lg = log -p
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	llol = log --graph --decorate --pretty=oneline --abbrev-commit --all
	lt = log --graph --oneline --all
	d = difftool
  pu = push
  pl = pull
  mt = mergetool
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff3
  conflictsyle = diff3
[mergetool]
  prompt = false
	keepBackup = false
[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[mergetool "vimdiff3"]
	cmd = vim -f -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
